name = eEFsec
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]
p2g_refiltering =   ( x.coverage() >= 0.5 or x.sequence_identity_with_profile() >= 0.2 )  and x.tag_score(max_n_titles=100) > 0
tags = ['selenocysteine.+(elongation|translation) factor', 'selenoprotein.+(elongation|translation) factor', '(elongation|translation) factor.+selenocysteine', '(elongation|translation) factor.+selenoprotein', '(elongation|translation) factor.+Sec[\\- ]?trna', 'Sec[\\- ]?trna.+(elongation|translation) factor', '[\\-, ]SelB[\\-, ]', ' SelEF']

