name = pstk
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17]
p2g_refiltering =    x.coverage() >= 0.4 and ( x.sequence_identity_with_profile()>0.2 or x.tag_score() > 0 )
tags = [' Pstk ', 'phosphoseryl-tRNA kinase', 'tRNA.*Sec.*kinase', ' CG12788 ', ' GM22728  ', ' GE17373 ', ' GG18044 ', ' GF20280 ', ' GA22688 ', ' GL27106 ', ' GJ15608 ', ' GI11009 ', ' GH24035 ' ]

