name = rhor
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
p2g_refiltering = x.label =='selenocysteine' or (x.label!='pseudo' and x.sequence_identity_with_profile()>=0.05 and ( x.sequence_identity_with_profile()>=0.12 or x.tag_score()>0 ))
tags=['rhodanese', 'sulfur ?tran?sferase','thiosulfate transferase']
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

