name = SBP2
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
p2g_refiltering =  x.sequence_identity_in_range(1075, 1228, min_aligned=12)>=0.3 
tags = ['selenocysteine insertion sequence[\\- ]binding protein 2', 'SECIS[\\- ]binding protein', ' SBP ?2 ', 'KIAA0256 protein', 'SECISBP2']

#x.boundaries_in_profile()[1]>=1095
