name = Sel2
queries = [0, 1, 2, 3]
blast_filtering = x.evalue < 1e-2 and not x.target_sequence_is_repetitive() and not x.alignment_is_repetitive() and not x.protein().count('*') > 3 and x.sequence_identity_with_profile(True)>=0.25
p2g_refiltering = x.label!='pseudo' and  x.sequence_identity_with_profile()>=0.20 and x.sequence_identity_in_range(1, 92, 2)>=0.35
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

