name = Sel3
queries = [0, 1, 2, 3, 4, 5]
p2g_refiltering = not x.target_sequence_is_repetitive() and not x.alignment_is_repetitive() and x.label!='pseudo' and (x.sequence_identity_with_profile() >= 0.32 or  ( x.label=='selenocysteine' and x.sequence_identity_with_profile() >= 0.25 ))
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

