name = SelKi
queries = all
blast_filtering = x.evalue < 0.01 and not x.target_sequence_is_repetitive() and not x.alignment_is_repetitive() and ( x.sequence_identity_in_range(1, 43, min_aligned=8) >= 0.25 or x.sequence_identity_in_range(99, 133, min_aligned=8) >= 0.25 )
p2g_filtering = x.awsi_filter(awsi=0.38)
max_blast_hits= STRICT
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

