name = SelK
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
blast_filtering = x.evalue < 0.01 and not x.target_sequence_is_repetitive() and not x.alignment_is_repetitive()
p2g_refiltering = 	x.sequence_identity_with_profile()>=0.12
tags = ['Selenoprotein[\\- ]?K', ' selK ', 'Selenoprotein[\\- ]?G', ' selG ', ' SePK ', ' SePG ']
max_blast_hits = STRICT
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

