name = SelS
queries = [0, 1, 2, 3, 4, 5, 6, 7, 8, 12, 13]
blast_filtering = x.evalue < 1e-2  and not x.target_sequence_is_repetitive() and not x.alignment_is_repetitive() and ( x.sec_is_aligned() or  x.sequence_identity_with_profile(True)>=0.2 )
p2g_refiltering = x.label!='pseudo' and x.sequence_identity_with_profile()>=0.15 and ( int(x.seq_in_profile_pos(177)=='R') + int(x.seq_in_profile_pos(191)=='G') + int(x.seq_in_profile_pos(232)=='L') + int(x.seq_in_profile_pos(233)=='R') + int(x.seq_in_profile_pos(238)=='N') + int(x.seq_in_profile_pos(239)=='P') + int(x.seq_in_profile_pos(240)=='L') + int(x.seq_in_profile_pos(251)=='R') + int(x.seq_in_profile_pos(252)=='P')  >= 5 ) and x.z_score() > -2
tags = ['Selenoprotein[\\- ]?S[^e]', ' selS ', ' sePS ']
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

