name = SPS
queries = all
p2g_filtering = x.coverage() >= 0.15
p2g_refiltering =  x.awsi_z_score()>-2  or  ( x.awsi_z_score()>-5 and x.tag_score()>0 )
tags = ['selenophosphate synthetase', 'selenophosphate synthase', 'selenide,? *water dikinase', ' seld ']
blast_options = SELENO
exonerate_options = SELENO
genewise_options = SELENO

